<div class="oj-hybrid-padding">
  <!-- <h1>Incidents Content Area</h1> -->
  <center>

    <h1> LOGIN </h1>
    <oj-c-form-layout direction="row" full-width="false">
      <!-- <div>
        <oj-c-input-text id="text-input" value="{{id}}" label-hint="Enter Id"
          label-edge="inside"></oj-c-input-text>
    
      </div> -->
      <oj-c-input-text id="text-input" value="{{loginId}}" label-hint="Enter Your LoginId"
        label-edge="inside"></oj-c-input-text>
      <!-- <oj-c-input-text id="text-input" value="" label-hint="Enter Your Password"
          label-edge="inside"></oj-c-input-text> -->
      <oj-c-input-password value="{{password}}" label-hint="Enter your password"></oj-c-input-password>

      <oj-c-button id="button1" on-oj-action="[[addRow]]" disabled="[[loginId() == null]]" label="Log In"></oj-c-button>

  </center>
</div>