<div class="oj-hybrid-padding">
  <!-- <h1>Incidents Content Area</h1> -->
  <center>

    <div>
      <h1> Register </h1>
      <oj-c-form-layout direction="row" full-width="false">
        <!-- <div>
            <oj-c-input-text id="text-input" value="{{id}}" label-hint="Enter Id"
            label-edge="inside"></oj-c-input-text>
            
          </div> -->
        
          <oj-c-input-text id="text-input" value="{{firstName}}" label-hint="Enter Your First Name"
            label-edge="inside"></oj-c-input-text>
          <oj-c-input-text id="text-input" value="{{lastName}}" label-hint="Enter Your Last Name"
            label-edge="inside"></oj-c-input-text>
          <oj-c-input-text id="text-input" value="{{gender}}" label-hint="Enter Your Gender"
            label-edge="inside"></oj-c-input-text>
          <oj-c-input-text id="text-input" value="{{email}}" label-hint="Enter Your Email"
            label-edge="inside"></oj-c-input-text>
          <oj-c-input-number id="text-input" value="{{mobile}}" label-hint="Enter Your Mobile"
            label-edge="inside"></oj-c-input-number>

          <!-- <oj-c-input-text id="text-input" value="" label-hint="Enter Your Password"
          label-edge="inside"></oj-c-input-text> -->
          <oj-c-input-text value="{{password}}" label-hint="Enter your password"></oj-c-input-text>

          <oj-c-button id="button1" on-oj-action="[[addRow]]" label="Log In"></oj-c-button>


  </center>
</div>